{% extends "blog/layout.html" %}

{% block title %}
    Blog list
{% endblock %}

{% block content %}

<h2>List of Blogs</h2>

{% if blog_list %}
    <table class="blog_list">
        <thead>
        <tr>
            <th>Date</th>
            <th>Blog title</th>
            <th>Edit</th>
        </tr>
        </thead>
        <tbody>
        {% for blog in blog_list %}
            <tr>
                <td>{{ blog.added | date:'d M Y' }}</td>
                <td>
                    <a href="{{ blog.id }}">{{ blog.title }}</a> 
                </td>
                <td>
                    <a href="edit/{{ blog.id }}">Edit</a> 
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No blog articles available yet. </p>
{% endif %}


{% endblock %}
